## Comentarios

In [ ]:
# Esto es un comentario
''' Esto tambien es un comentario, usualmente las comillas son para
comentarios en varias líneas '''

## Operaciones básicas

In [7]:
4 + 5

9

In [8]:
7 * 2

14

## Literales

**Literales Simples**

In [9]:
print (6) #Entero

print (5.3) #Float

print ('Esto es un string') #string

print (True) #booleano

6
5.3
Esto es un string
True

**Literales Compuestos**

In [11]:
#tupla
print (5, 6)
#tupla inmutable
print ((4, 2))
#lista
print ([1, 2, 3, 4, 5])
#diccionario
print ({'Nombre': 'Lesly', 'Apellido': 'Becerra', 'Edad': 20})
#conjunto
print ({10, 20, 30, 40})

5 6
(4, 2)
[1, 2, 3, 4, 5]
{'Nombre': 'Lesly', 'Apellido': 'Becerra', 'Edad': 20}
{40, 10, 20, 30}

# Variables

In [12]:
# asignacion de variable
x = 10
print (x)

10

In [15]:
x = 2 #entero
y = 'Lesly' #string
z = False #booleano

a= 10 + 5j #numero complejo
b= 4.7 #float

print (x)
print (type(x)) #imprime el tipo de dato del objeto de la variable que solicitamos

print (y)
print (type(y))

print (z)
print (type(z))

print (a)
print (type(a))

print (b)
print (type(b))

2
<class 'int'>
Lesly
<class 'str'>
False
<class 'bool'>
(10+5j)
<class 'complex'>
4.7
<class 'float'>

In [16]:
# misma variable a distintos objetos SÍ SE PUEDE HACER
a = 'Naty'
print (a)

a = 6
print (a)

a = True
print (a)

Naty
6
True

## Identificadores (ID)

In [17]:
# Cada objeto tiene un id, y lo podemos obtener de la siguiente manera
x = 7
print (id(x))

x = 'Ahitana'
print (id(x))

y = False
print (id(y))

140737092834280
1614901284976
140737091365472

In [19]:
# Variables que referencian al mismo objeto tienen mismo identificador
a = 25
print (id(a))

b = a
print (id(b))

c = b
print (id(c))

d = 25
print (id(d))


x = 'Hola'
y = 'Hola'
print (id(x))
print (id(y))
print (id('Hola'))

140737092834856
140737092834856
140737092834856
140737092834856
1614901312240
1614901312240
1614901312240

In [25]:
#Enteros "grandes": [-5, 256], si se pasan de ese rango, NO saldra el mismo id

a = 258 
b = 258 

print(id(a)) 
print(id(b)) 
print(id(258))

a = -5
b = -5

print(id(a)) 
print(id(b)) 
print(id(-5))

1614900197840
1614900198032
1614900197808
140737092833896
140737092833896
140737092833896

In [29]:
x = 400
y = x

print (y)
print (id(x))
print (id(y))

400
1614900199184
1614900199184

In [31]:
# variables en expresiones

a = 5
b = 9

print (id(a))
print (a + b)
print (a - b)

140737092834216
14
-4

In [32]:
c = a * b
print (c)

45

## Pow

El "pow", sirve para elevar a la potencia, ejemplos

In [1]:
# esto imprime 3^2
print(pow(3,2))

9

In [2]:
print (pow (5, 3))

125

In [ ]:
# para reemplazar la funcion original de pow
def pow(a, b):
    return (a + b)

print (pow(3,2)) # respuesta = se sumaran, y dará 5, porque lo redefinimos arriba

In [5]:
# asignacion multiple de variables
a, b, c = 5, 6, 7
print (a, b, c)

x, y, z = 1, 2, 3
print (x, y, z)

t = x, y, z, 7, "Python" 
print(t) 
print(type(t))

5 6 7
1 2 3
(1, 2, 3, 7, 'Python')
<class 'tuple'>

In [11]:
# intercambio de valores entre dos variables.
a = 6
b = 7

a, b = b, a
print (a,b)

x = 2
y = 4

z = x
x = y
y = z
print(x, y, z)

7 6
4 2 2

## Tipos de datos basicos

In [12]:
# booleanos

a = True
b = False

print (type(a))
print (id(a))
print (type(b))
print (id(b))

print (a is b)
print (a == b)

<class 'bool'>
140737091365440
<class 'bool'>
140737091365472
False
False

In [14]:
# numeros
print (2)
print (type(2))

print (5.3)
print (type(5.3))

print (10-2j)
print (type(10-2j))

print (1/2)       #numero racional
print (type(1/2))

2
<class 'int'>
5.3
<class 'float'>
(10-2j)
<class 'complex'>
0.5
<class 'float'>

In [25]:
x = 58 #decimal

z = 0b00111010 #binario (0b indica binario (solo 0 y 1)) OJO -->(32 - 16 - 8 - 4 - 2 - 1)

w = 0o72 #octal (0o significa octal (dígitos del 0 al 7)) (7×8+2=56+2=58)

y = 0x3A # Hexadecimal (0x significa hexadecimal (0–9 y A–F))
# 0 1 2 3 4 5 6 7 8 9 A B C D E F, donde A=10, B=11 ...
#Hexadecimal funciona como decimal, pero en base 16.
#Por tanto queda: 3×16+10×1=48+10=58

print (z)
print(x == y == z == w)

58
True

In [31]:
# Strings
s = 'John "ee" Doe'
print (s)

print(s[0])
print(s[-1])
print(s[1:8:2]) #del indice 1 al 7, con salto de 2

print(s[:])
print(s + "e") #concatena

John "ee" Doe
J
e
on"e
John "ee" Doe
John "ee" Doee

## Conversión entre tipos

In [32]:
a = int(3.9)
b = int ('3')
c = float (1)
d = float ('2')
e = str (2)
f = str (4.0)
g = bool ('a')
h = bool ('')
i = bool (9)
j = bool (0)
k = bool (None)

print(a) 
print(type(a))
print(b) 
print(type(b))
print(c) 
print(type(c))
print(d) 
print(type(d))
print(e) 
print(type(e))
print(f) 
print(type(f))
print(g) 
print(type(g)) 
print(h) 
print(type(h)) 
print(i) 
print(type(i)) 
print(j) 
print(type(j)) 
print(k)
print (type(k))

3
<class 'int'>
3
<class 'int'>
1.0
<class 'float'>
2.0
<class 'float'>
2
<class 'str'>
4.0
<class 'str'>
True
<class 'bool'>
False
<class 'bool'>
True
<class 'bool'>
False
<class 'bool'>
False
<class 'bool'>

In [34]:
# divisiones
print (8/3) #convencional resp en float
print (int(8/3)) #convencional y conversion de float a int
print (8//3) #entera

2.6666666666666665
2
2

## Ejercicios para la prueba

**Predice la salida**

In [1]:
a = 10
b = 3
print(a / b) #3.33
print(a // b) #3
print(a % b) #1

3.3333333333333335
3
1

In [2]:
x = [1, 2, 3]
y = x
y.append(4)
print(x) #[1, 2, 3, 4] porque append se usa para añadir

[1, 2, 3, 4]

In [3]:
a = "5"
b = 5
print(a == b) #False
print(int(a) == b) #True

False
True

**Encuentra el error**

In [6]:
#lista = [1, 2, 3]
#print(lista[3])   

#Esta incorrecto porque no existe un indice 3, por tanto, cambiamos a un indice existente

lista = [1, 2, 3]
print(lista[2]) #3

3

In [7]:
# x = 5
# if x = 5:
#     print("cinco")

# Esta incorrecto porque para decir que es igual, se utiliza (==)

x = 5
if x == 5:
    print("cinco")

cinco

In [34]:
# a = (1, 2, 3)
# a[0] = 10

# No funciona cambiar porque las tuplas son inmutables

a = [1, 2, 3]

print(a)

[1, 2, 3]

**Condicionales y bucles**

In [16]:
for i in range(1, 6):
    if i % 2 == 0:
        print(i) #2 4

2
4

In [18]:
n = 3
while n > 0:
    print(n) #3
    n -= 1 #2

3
2
1

In [19]:
for i in range(5):
    if i == 3:
        break # sirve para romper justo cuando i = 3a
    print(i) #0 1 2

0
1
2

**Listas**

In [36]:
lista = [1, 2, 3]
lista += [4, 5]
print(lista)  #[1, 2, 3, 4, 5]  concatena los elementos

[1, 2, 3, 4, 5]

In [35]:
lista = [1, 2, 3]
lista.append([4, 5])
print(lista)  #[1, 2, 3, [4, 5]] una una lista con otra lista

[1, 2, 3, [4, 5]]

In [22]:
numeros = [1, 2, 3, 4]
pares = [x for x in numeros if x % 2 == 0]
print(pares)  # [2, 4]

[2, 4]

**Funciones**

In [23]:
def suma(a, b):
    print(a + b)

resultado = suma(2, 3)
print(resultado) #5

5
None

In [26]:
def modificar(lista):
    lista.append(10)

nums = [1, 2]
modificar(nums)   #[1, 2, 10]
print(nums)

[1, 2, 10]

In [33]:
'''
Escribe una función que:
reciba una lista de números
devuelva una nueva lista con solo los números mayores a 5
'''

def mayores_a_5(lista):
    return [x for x in lista if x > 5]

print(mayores_a_5([4, 6, 2, 9, 12]))

[6, 9, 12]

In [30]:
def procesar(lista):
    resultado = []
    for x in lista:
        if x % 2 == 0:
            resultado.append(x * 2)
    return resultado

print(procesar([1, 2, 3, 4, 5]))

[4, 8]

## Lambda

Forma general:

**lambda** argumentos : expresión

La expresión es lo que se devuelve

In [38]:
suma = lambda a, b: a + b
print(suma(3, 4))

7

equivalente a:

In [37]:
def suma(a, b):
    return a + b

print(suma(8, 3))

11

Mas de un parametro

In [39]:
operacion = lambda a, b: a if a > b else b
print(operacion(4, 7))

7

Lambda con if else

In [40]:
es_par = lambda x: True if x % 2 == 0 else False
print(es_par(6))
print(es_par(5))

True
False

Lambda + listas

In [41]:
nums = [1, 2, 3, 4]
doble = list(map(lambda x: x * 2, nums))
print(doble)

[2, 4, 6, 8]

Lambda + filter

In [42]:
nums = [1, 2, 3, 4, 5, 6]
pares = list(filter(lambda x: x % 2 == 0, nums))  # filter conserva solo los True
print(pares)

[2, 4, 6]

Lambda + sort

In [43]:
palabras = ["sol", "mariposa", "luz", "estrella"]
palabras.sort(key=lambda x: len(x))  # len ordena por longitud
print(palabras)

['sol', 'luz', 'mariposa', 'estrella']

Lambda + diccionario

In [44]:
operaciones = {
    "suma": lambda a, b: a + b,
    "resta": lambda a, b: a - b
}

print(operaciones["suma"](5, 3))
print(operaciones["resta"](5, 3))

8
2

In [45]:
print((lambda x: x + 3)(4))

7

In [46]:
print(list(map(lambda x: x-1, [5,6,7])))

[4, 5, 6]

In [47]:
print(list(filter(lambda x: x > 3, [1,2,3,4,5])))

[4, 5]

In [48]:
'''Ejercicio similar: crear un objeto series con 10 elementos que contengan más 
de un tipo básico con índices de tipo string.'''

valores = [10, 3.5, "Python", True, 25, "AI", False, 8.2, "Data", 0]
indices = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"]

for i in range(len(valores)):
    print(indices[i], ":", valores[i])

a : 10
b : 3.5
c : Python
d : True
e : 25
f : AI
g : False
h : 8.2
i : Data
j : 0

In [ ]:
''' que demuestre que los datos con índices posicionales son los mismos que 
los obtenidos con índices semánticos seleccionando a través de slicing al menos 
cuatro elementos de la serie anterior.'''

elementos = pd.Series(['lapiz', '4.23', '33', 'True', 'hola', '123', 'arbol', '5.67', 'mesa', '67'],
                      index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])

print(elementos[2:6] == elementos['c':'f'])

In [53]:
'''dada una lista de elementos, cree una función que devuelva un diccionario sin los elementos duplicados.'''

def quitar_duplicados(lista):
    resultado = {}
    for elemento in lista:
        if elemento not in resultado:
            resultado[elemento] = elemento
    return resultado

datos = ["a", "b", "a", "c", "b", "d"]
print(quitar_duplicados(datos))

{'a': 'a', 'b': 'b', 'c': 'c', 'd': 'd'}

In [54]:
'''dada una lista de elementos, cree una función que devuelva una tupla sin los elementos duplicados.'''

def quitar_duplicados(lista):
    resultado = []
    for elemento in lista:
        if elemento not in resultado:
            resultado.append(elemento)
    return tuple(resultado)

datos = ["a", "b", "a", "c", "b", "d"]
print(quitar_duplicados(datos))

('a', 'b', 'c', 'd')

In [55]:
'''ahora es lista'''

def quitar_duplicados(lista):
    resultado = []
    for elemento in lista:
        if elemento not in resultado:
            resultado.append(elemento)
    return resultado

datos = ["a", "b", "a", "c", "b", "d"]
print(quitar_duplicados(datos))

['a', 'b', 'c', 'd']

In [56]:
'''dada un diccionario, cree una función que devuelva una lista sin los elementos duplicados.'''

def valores_unicos(diccionario):
    resultado = []
    for valor in diccionario.values():
        if valor not in resultado:
            resultado.append(valor)
    return resultado

datos = {"a": 1,"b": 2,"c": 1,"d": 3,"e": 2}
print(valores_unicos(datos))

[1, 2, 3]

In [58]:
# con set

def valores_unicos(diccionario):
    return list(set(diccionario.values()))

datos = {"a": 1,"b": 2,"c": 1,"d": 3,"e": 2}
print(valores_unicos(datos))

[1, 2, 3]