## Comentarios

In [ ]:
# Esto es un comentario
''' Esto tambien es un comentario, usualmente las comillas son para
comentarios en varias líneas '''

## Operaciones básicas

In [7]:
4 + 5

9

In [8]:
7 * 2

14

## Literales

**Literales Simples**

In [9]:
print (6) #Entero

print (5.3) #Float

print ('Esto es un string') #string

print (True) #booleano

6
5.3
Esto es un string
True

**Literales Compuestos**

In [11]:
#tupla
print (5, 6)
#tupla inmutable
print ((4, 2))
#lista
print ([1, 2, 3, 4, 5])
#diccionario
print ({'Nombre': 'Lesly', 'Apellido': 'Becerra', 'Edad': 20})
#conjunto
print ({10, 20, 30, 40})

5 6
(4, 2)
[1, 2, 3, 4, 5]
{'Nombre': 'Lesly', 'Apellido': 'Becerra', 'Edad': 20}
{40, 10, 20, 30}

# Variables

In [12]:
# asignacion de variable
x = 10
print (x)

10

In [15]:
x = 2 #entero
y = 'Lesly' #string
z = False #booleano

a= 10 + 5j #numero complejo
b= 4.7 #float

print (x)
print (type(x)) #imprime el tipo de dato del objeto de la variable que solicitamos

print (y)
print (type(y))

print (z)
print (type(z))

print (a)
print (type(a))

print (b)
print (type(b))

2
<class 'int'>
Lesly
<class 'str'>
False
<class 'bool'>
(10+5j)
<class 'complex'>
4.7
<class 'float'>

In [16]:
# misma variable a distintos objetos SÍ SE PUEDE HACER
a = 'Naty'
print (a)

a = 6
print (a)

a = True
print (a)

Naty
6
True

## Identificadores (ID)

In [17]:
# Cada objeto tiene un id, y lo podemos obtener de la siguiente manera
x = 7
print (id(x))

x = 'Ahitana'
print (id(x))

y = False
print (id(y))

140737092834280
1614901284976
140737091365472

In [19]:
# Variables que referencian al mismo objeto tienen mismo identificador
a = 25
print (id(a))

b = a
print (id(b))

c = b
print (id(c))

d = 25
print (id(d))


x = 'Hola'
y = 'Hola'
print (id(x))
print (id(y))
print (id('Hola'))

140737092834856
140737092834856
140737092834856
140737092834856
1614901312240
1614901312240
1614901312240

In [25]:
#Enteros "grandes": [-5, 256], si se pasan de ese rango, NO saldra el mismo id

a = 258 
b = 258 

print(id(a)) 
print(id(b)) 
print(id(258))

a = -5
b = -5

print(id(a)) 
print(id(b)) 
print(id(-5))

1614900197840
1614900198032
1614900197808
140737092833896
140737092833896
140737092833896

In [29]:
x = 400
y = x

print (y)
print (id(x))
print (id(y))

400
1614900199184
1614900199184

In [31]:
# variables en expresiones

a = 5
b = 9

print (id(a))
print (a + b)
print (a - b)

140737092834216
14
-4

In [32]:
c = a * b
print (c)

45

## Pow

El "pow", sirve para elevar a la potencia, ejemplos

In [1]:
# esto imprime 3^2
print(pow(3,2))

9

In [2]:
print (pow (5, 3))

125

In [ ]:
# para reemplazar la funcion original de pow
def pow(a, b):
    return (a + b)

print (pow(3,2)) # respuesta = se sumaran, y dará 5, porque lo redefinimos arriba

In [5]:
# asignacion multiple de variables
a, b, c = 5, 6, 7
print (a, b, c)

x, y, z = 1, 2, 3
print (x, y, z)

t = x, y, z, 7, "Python" 
print(t) 
print(type(t))

5 6 7
1 2 3
(1, 2, 3, 7, 'Python')
<class 'tuple'>

In [11]:
# intercambio de valores entre dos variables.
a = 6
b = 7

a, b = b, a
print (a,b)

x = 2
y = 4

z = x
x = y
y = z
print(x, y, z)

7 6
4 2 2

## Tipos de datos basicos

In [12]:
# booleanos

a = True
b = False

print (type(a))
print (id(a))
print (type(b))
print (id(b))

print (a is b)
print (a == b)

<class 'bool'>
140737091365440
<class 'bool'>
140737091365472
False
False

In [14]:
# numeros
print (2)
print (type(2))

print (5.3)
print (type(5.3))

print (10-2j)
print (type(10-2j))

print (1/2)       #numero racional
print (type(1/2))

2
<class 'int'>
5.3
<class 'float'>
(10-2j)
<class 'complex'>
0.5
<class 'float'>

In [25]:
x = 58 #decimal

z = 0b00111010 #binario (0b indica binario (solo 0 y 1)) OJO -->(32 - 16 - 8 - 4 - 2 - 1)

w = 0o72 #octal (0o significa octal (dígitos del 0 al 7)) (7×8+2=56+2=58)

y = 0x3A # Hexadecimal (0x significa hexadecimal (0–9 y A–F))
# 0 1 2 3 4 5 6 7 8 9 A B C D E F, donde A=10, B=11 ...
#Hexadecimal funciona como decimal, pero en base 16.
#Por tanto queda: 3×16+10×1=48+10=58

print (z)
print(x == y == z == w)

58
True

In [31]:
# Strings
s = 'John "ee" Doe'
print (s)

print(s[0])
print(s[-1])
print(s[1:8:2]) #del indice 1 al 7, con salto de 2

print(s[:])
print(s + "e") #concatena

John "ee" Doe
J
e
on"e
John "ee" Doe
John "ee" Doee

## Conversión entre tipos

In [32]:
a = int(3.9)
b = int ('3')
c = float (1)
d = float ('2')
e = str (2)
f = str (4.0)
g = bool ('a')
h = bool ('')
i = bool (9)
j = bool (0)
k = bool (None)

print(a) 
print(type(a))
print(b) 
print(type(b))
print(c) 
print(type(c))
print(d) 
print(type(d))
print(e) 
print(type(e))
print(f) 
print(type(f))
print(g) 
print(type(g)) 
print(h) 
print(type(h)) 
print(i) 
print(type(i)) 
print(j) 
print(type(j)) 
print(k)
print (type(k))

3
<class 'int'>
3
<class 'int'>
1.0
<class 'float'>
2.0
<class 'float'>
2
<class 'str'>
4.0
<class 'str'>
True
<class 'bool'>
False
<class 'bool'>
True
<class 'bool'>
False
<class 'bool'>
False
<class 'bool'>

In [34]:
# divisiones
print (8/3) #convencional resp en float
print (int(8/3)) #convencional y conversion de float a int
print (8//3) #entera

2.6666666666666665
2
2